<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container card-sh"
         style="margin-top: 70px; margin-bottom: 100px">

        <div class="col-md-12 p-5">
            <div class="row">

                <div class="col-md-6 text-end">
                    <img alt="" th:src="@{/img/product_img/{image}(image=${product.image})}" width="600px"
                         height="400px">
                </div>

                <div class="col-md-6">

                    <p class="fs-3">[[${product.title}]]</p>
                    <p>
                        <span class="fw-bold">Description : </span><br>[[${product.description}]]
                    </p>
                    <p>
                        <span class="fw-bold"> Product Details: </span> <br> Status
                        :




                        <br> Category: [[${product.category}]]<br> Policy : 7
                        Days Replacement & Return
                    </p>





                        <th:block th:if="${user==null}">
                            <a href="/signin" class="btn btn-danger col-md-12">Add To
                                Cart</a>
                        </th:block>

                        <th:block th:unless="${user==null}">
                            <a
                                    th:href="@{'/user/addCart?pid='+${product.id}+'&uid='+${user.id}}"
                                    class="btn btn-danger col-md-12">Add To Cart</a>
                        </th:block>





                </div>
            </div>
        </div>
    </div>


</section>
</body>
</html>